<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pockettrip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TravelMain"></activity>
        <activity android:name=".Join"></activity>
        <activity android:name=".MyPage"></activity>
        <activity android:name=".ScheduleMain"></activity>
        <activity android:name=".SchedulePlus"></activity>
        <activity android:name=".TravelChoice"></activity>
        <activity android:name=".TravelDetail"></activity>
        <activity android:name=".DiaryMain"></activity>
        <activity android:name=".DiaryPlus"></activity>
        <activity android:name=".Diary_Adapter"></activity>
        <activity android:name=".Diary_Date_Decoration"></activity>
        <activity android:name=".PublicMoneyMain"></activity>
        <activity android:name=".PublicMoneyPlus"></activity>
        <activity android:name=".PrivateMoneyMain"></activity>
        <activity android:name=".PrivateMoneyPlus"></activity>
        <activity android:name=".Cash_Adapter"></activity>
        <activity android:name=".Cash_Date_Decoration"></activity>
        <activity android:name=".SpendCategory" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".PlanSpendCategory" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".PlanImportCategory" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".CheckAdapter"></activity>
        <activity android:name=".CheckDTO"></activity>
        <activity android:name=".CheckList"></activity>
        <activity android:name=".ExchangeMoney" android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>